@model SoreBiblioteca.Domain.Entities.Libro

@{
    ViewData["Title"] = "Details";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/librosdetailstyle.css">
    <title>SoreBiblioteca</title>
</head>
<body>
    <nav class="nav-principal">
        <a class="nav-icon" href="#">
            <i class="fas fa-bars"></i>
        </a>
        <div class="menu-desplegable">
            <a asp-controller="Home" asp-action="Index">Inicio</a>
            <a asp-controller="Home" asp-action="LibrosPage">Libros</a>
            <a asp-controller="Home" asp-action="PrestamosDisp">Prestamos</a>
            <a asp-controller="Home" asp-action="ProveedoresPage">Proveedores</a>
        </div>
    </nav>
    <div class="container">
        <div class="sub-container">
            <h1>Detalles:</h1>
            <br />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Autor)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Autor)
                </dd>
                <br />
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Titulo)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Titulo)
                </dd>
                <br />
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Stock)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Stock)
                </dd>
            </dl>
        </div>
        <div class="enlaces">
            <br />  
                    <hr />
            <br />
            <a asp-action="Edit" asp-route-id="@Model?.Idlibro">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</body>
