@model IEnumerable<SoreBiblioteca.Web.Models.LibroModel>

@{
    Layout = null;
}
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdproveedorNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
     @if(Model != null)
     {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Autor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                    <td>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Idlibro">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Idlibro">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Idlibro">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">No data available</td>
            </tr>
        }
    </tbody>
</table>
